
stable-old-version
midnight-reference/

backend/packages/batcher/intent-logs.txt
backend/packages/batcher/submit-logs.txt
backend/packages/batcher/batcher-debug.log
backend/midnight-level-db-deploy/
backend/midnight-level-db-party-*/
backend/packages/midnight/contract-token-mint/src/managed/
backend/wallets.json

.claude
CLAUDE.md
node_modules
